<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>    
</head>
<body>
    <div id="app">
        <input type="text" v-model ="message">
        {{ message }}<br>
        <input type="email" v-model ="email">
        {{ email }}<br>
        <input type="Number" v-model ="Number1">     
        {{ Number1}}<br>
    </div>        
    <script>
        const App = {
            data() {
                return {
                    message: 'Hello',
                    email: 'Jaturawit@gmail.com',
                    Number: 0
                }
            },
            mounted() {

            }
        }
        const vue = Vue.createApp(App)
        vue.mount('#app')
  
    </script>    
</body>
</html>