<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>        
</head>
<body>
    <div id="app">
        <input type="number" v-model ="celcius"> fahrenhelt:
        {{ fahrenhelt }}

    </div>        
    <script>
        const App = {
            data() {
                return {
                    celcius: 25,
                    //fahrenhelt: 0
                }
            },
            methods: {
                //convertTofahrenhelt(){
                //    this.fahrenhelt = 1.8*this.celcius+32
                //}
            },
            computed: {
                fahrenhelt() {
                    return 1.8 * this.celcius + 32
                }
            }
        }
        const vue = Vue.createApp(App)
        vue.mount('#app')
  
    </script>       
    
</body>
</html>